/* Dashboard Header Styles */
.dashboard-header{
    text-align: center;
    margin-bottom: 2rem;
    padding: 2rem 0;
    background-color: #f9f6f1;
    color: #5a4636;
}

.dashboard-header h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.dashboard-header p {
    font-size: 1.2rem;
}

/*dashboard*/
.dashboard-section {
    margin: 0 2rem;
    padding: 2rem;
    background-color: #f9f6f1;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    min-height: auto;
}

.dashboard-section h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #5a4636;
}

.collectbook-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Grid otomatis dengan minimal lebar 250px per kolom */
    gap: 55px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.1);
    background-color: #f9f6f1;
}

.card-img-top {
    width: 180px;
    height: 230px;
    object-fit: cover;
    padding: 1rem;
}

.card-body {
    padding: 1rem;
    text-align: center;
    background-color: white;
    display: flex;
    flex-direction: column; /* Menata elemen-elemen secara vertikal */
    gap: 5px; /* Memberikan jarak antara card-text dan tombol */
}


.card-title {
    font-size: 1.1rem;
    font-weight: bold;
}

.card-text {
    color: #555;
}

.card-body form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Default styling for the status text */
.card-status {
    font-size: 0.75rem;
    font-weight: bold;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: inline-block;
    background-color: #f9f6f1;
    color: #5a4636;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
}

/* Optional: Add hover effect */
.card-status:hover {
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}

.btn-primary {
    background-color: green;
    width: 40%;
    border: none;
    color: white;
    padding: 2px 2px;
    font-size: 0.75rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Efek hover pada tombol submit */
.btn-primary:hover {
    background-color: darkgreen;
}

.btn-danger {
    background-color: red;
    width: 50%;
    border: none;
    color: white;
    padding: 8px 8px;
    font-size: 0.75rem;
    border-radius: 4px;
    cursor: pointer;
    align-self: center;
    transition: background-color 0.3s ease;
    margin: 0 auto;
}


/* Efek hover pada tombol submit */
.btn-danger:hover {
    background-color: darkred;
}
/*quick kink*/
.quick-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.quick-links .btn {
    padding: 0.8rem 2rem;
    background-color: #5a4636;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
}

.quick-links .btn:hover {
    background-color: #4b3c2d;
}
