a {
    text-decoration: none;
    color: inherit;
}

/* Header Section */
.list-header {
    text-align: center;
    background-color: #f9f6f1; /* Coklat tua */
    color: #5a4636;
    padding: 2rem 0;
    margin-bottom: 2rem;
}

.list-header h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
}

/* List Section */
.list-section {
    padding: 2rem;
    background-color: #f9f6f1;
    margin: 0 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    min-height: auto;
    margin-bottom: 2rem;
}

.list-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Grid otomatis dengan minimal lebar 250px per kolom */
    gap: 55px;
}

.btn-list {
    background-color: #5a4636;
    border: none;
    color: white;
    padding: 8px 10px;
    font-size: 0.9rem;
    border-radius: 4px;
    cursor: pointer;
    align-self: center;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    width: auto;
}

/* Efek hover pada tombol submit */
.btn-list:hover {
    background-color: #4b3c2d;
}

.btn-add {
    background-color: #f9f6f1;
    border: 1px solid #ddd;
    font-weight: bold;
    color: #5a4636;
    padding: 8px 10px;
    font-size: 0.9rem;
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    align-self: center;
    transition: background-color 0.3s ease;
    width: auto;
    display: block; /* Makes the button a block-level element */
    margin-left: auto;
    margin-right: auto; /* Automatically center it */
    margin-top: 5px;
}

.btn-add:hover {
    background-color: #f2eee7;
}
