/* styles.css */

.reviewform-container {
    text-align: center;
    max-width: 500px;
    min-height: 60vh;
    background-color: #f9f6f1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 90%;
    margin: 40px auto;
    padding: 20px;
    justify-content: center; /* Pusatkan horizontal */
    align-items: center
}

.reviewform-container h1 {
    text-align: center;
    margin-bottom: 20px;
}


.form-group {
    margin-bottom: 20px;
    display: flex; /* Aktifkan Flexbox */
    flex-direction: column; /* Agar elemen berada dalam kolom */
    align-items: center; /* Pusatkan secara horizontal */
    width: 100%;
}

.form-group label {
    font-weight: bold;
    color: #5a4636;
    margin-bottom: 0.5rem;
    display: block;
    text-align: left;
    font-size: 1.05rem;
}

.form-group textarea {
    height: 200px;
    width: 90%; /* Lebar sesuai kebutuhan (responsif) */
    max-width: 600px; /* Batas lebar maksimum */
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease;
}

.form-group select {
    width: 50%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

@media screen and (max-width: 768px) {
    .reviewform-container {
        width: 80%;
        padding: 15px;
    }

    .form-group textarea {
        width: 100%;
    }

    .form-group select {
        width: 70%;
    }

    .form-group label {
        font-size: 1rem;
    }

    .reviewform-container h1 {
        font-size: 1.5rem;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 480px) {
    .reviewform-container {
        width: 95%;
        padding: 10px;
    }

    .form-group textarea {
        width: 100%;
    }

    .form-group select {
        width: 80%;
    }

    .form-group label {
        font-size: 0.95rem;
    }

    .reviewform-container h1 {
        font-size: 1.3rem;
        margin-bottom: 10px;
    }

    .form-group {
        margin-bottom: 15px;
    }
}