<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}BookSphere{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="base">
        <nav class="wrapper">
            <div class="logo">
                <h1>BookSphere</h1>
            </div>
            <ul class="navbar-links">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'books:dashboard' %}">Dashboard</a></li>
                {% else %}
                    <li><a href="{% url 'books:login' %}" class="btn-footer">Dashboard</a></li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li><a href="{% url 'books:book_list' %}">Books</a></li>
                {% else %}
                    <li><a href="{% url 'books:login' %}" class="btn-footer">Books</a></li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li><a href="{% url 'books:author_list' %}">Authors</a></li>
                {% else %}
                    <li><a href="{% url 'books:login' %}" class="btn-footer">Authors</a></li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li><a href="{% url 'books:category_list' %}">Categories</a></li>
                {% else %}
                    <li><a href="{% url 'books:login' %}" class="btn-footer">Categories</a></li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li><a href="{% url 'books:profile' %}">Profile</a></li>
                {% else %}
                    <li><a href="{% url 'books:login' %}" class="btn-footer">Profile</a></li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li><a href="{% url 'books:logout' %}" class="btn-footer">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'books:login' %}" class="btn-footer">Login</a></li>
                {% endif %}
            </ul>
        </nav>
        <main class="main-content">
            {% block content %}
            <!-- Content for each page will go here -->
            {% endblock %}
        </main>
    </div>
    {% if messages %}
    <div class="messages-container">
        {% for message in messages %}
            <div class="message {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}
</body>
</html>


