{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <link rel="icon" type="image/x-icon" href="/static/images/...png">
    <title>{% block title %}BookSphere Login{% endblock %}</title>
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo">
                <h1>BookSphere</h1>
            </div>
        </div>
    </header>
    
    <div class="registerlogin-container">
        <section class="registerlogin-card">
            <form method="post">
                {% csrf_token %}
                <h1>Login</h1>
                <hr>
                <div>
                    <label for="username">Username:</label>
                    <input type="text" name="username" id="username" required>
                </div>
                <div>
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password" required>
                </div>
                <button type="submit">Login</button>
            </form>
                <p>Don't have an account? <a href="{% url "books:register" %}">Register</a></p>
        </section>
    </div>
    <footer>
        <div class="footer">
            <h2>BookSphere</h2>
            <p>Welcome to BookSphere. Booksphere is the place to find and explore many books for every reader. 
                Add books to your collection and share your thoughts by writing reviews after you read them. Grow your personal library!
            </p>
            <a href="{% url 'books:about' %}" class="btn-footer">About</a>
            <a href="{% url 'books:index' %}" class="btn-footer">Welcome Page</a>
            <a href="https://www.instagram.com/dheasalsabelaa/" target="_blank">
                <img src="{% static 'images/instagram-logo.png' %}" alt="Instagram" class="sosmed-logo">
            </a>
            <a href="https://www.linkedin.com/in/dhea-salsabela-868991280/" target="_blank">
                <img src="{% static 'images/linkedin-logo.png' %}" alt="Linkedin" class="sosmed-logo">
            </a>
            <a href="https://github.com/dheasalsabela" target="_blank">
                <img src="{% static 'images/github-logo.png' %}" alt="Linkedin" class="sosmed-logo">
            </a>
        </div>
        <p>&copy; 2024 BookSphere. All rights reserved.</p>
    </footer>
</body>
</html>
