{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <title>{% block title %}BookSphere Register{% endblock %}</title>
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo">
                <h1>BookSphere</h1>
            </div>
        </div>
    </header>
    <div class="registerlogin-container">
        <section class="registerlogin-card">
            <form method="post">
                {% csrf_token %}
                <h1>Register</h1>
                <hr>
                <div>
                    <label for="{{ form.username.id_for_label }}">Username:</label>
                    {{ form.username }}  <!-- Render username field -->
                    {% if form.username.errors %}
                        <ul class="errorlist">
                            {% for error in form.username.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                <!-- Password1 Field -->
                <div>
                    <label for="{{ form.password1.id_for_label }}">Password:</label>
                    {{ form.password1 }}  <!-- Render password1 field -->
                    {% if form.password1.errors %}
                        <ul class="errorlist">
                            {% for error in form.password1.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                <!-- Password2 Field (Confirm Password) -->
                <div>
                    <label for="{{ form.password2.id_for_label }}">Confirm Password:</label>
                    {{ form.password2 }}  <!-- Render password2 field -->
                    {% if form.password2.errors %}
                        <ul class="errorlist">
                            {% for error in form.password2.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <button type="submit">Register</button>
            </form>
                <p>Have an account? <a href="{% url "books:login" %}">Login</a></p>
        </section>
    </div>
    <footer>
        <div class="footer">
            <h2>BookSphere</h2>
            <p>Welcome to BookSphere. Booksphere is the place to find and explore many books for every reader. 
                Add books to your collection and share your thoughts by writing reviews after you read them. Grow your personal library!
            </p>
            <a href="{% url 'books:about' %}" class="btn-footer">About</a>
            <a href="{% url 'books:index' %}" class="btn-footer">Welcome Page</a>
            <a href="https://www.instagram.com/dheasalsabelaa/" target="_blank">
                <img src="{% static 'images/instagram-logo.png' %}" alt="Instagram" class="sosmed-logo">
            </a>
            <a href="https://www.linkedin.com/in/dhea-salsabela-868991280/" target="_blank">
                <img src="{% static 'images/linkedin-logo.png' %}" alt="Linkedin" class="sosmed-logo">
            </a>
            <a href="https://github.com/dheasalsabela" target="_blank">
                <img src="{% static 'images/github-logo.png' %}" alt="Linkedin" class="sosmed-logo">
            </a>
        </div>
        <p>&copy; 2024 BookSphere. All rights reserved.</p>
    </footer>
</body>
</html>
