{% extends 'common/base.html' %}
{% load static %}

{% block title %}Book List{% endblock %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

{% block content %}
    <header class="list-header">
        <h1>Books</h1>
    </header>
    
    <section class="list-section">
        <div class="list-container">
            {% for book in books %}
                <div class="card">
                    <img src="{{ book.image }}" class="card-img-top" alt="{{ book.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ book.title }}</h5>
                        <p class="card-text">{{ book.author }}</p>
                        <a href="{% url 'books:book_detail' pk=book.pk %}" class="btn btn-list">View Details</a>
                        <form method="POST" action="{% url 'books:add_booklist' %}">
                            {% csrf_token %}
                            <input type="hidden" name="book_id" value="{{ book.id }}">
                            <button type="submit" class="btn btn-add">Add to Collection</button>
                        </form>
                    </div>
                </div>
            {% empty %}
                <p>No books available yet.</p>
            {% endfor %}
        </div>
    </section>
    
    <footer>
        <div class="footer">
            <h2>BookSphere</h2>
            <p>Welcome to BookSphere. Booksphere is the place to find and explore many books for every reader. 
                Add books to your collection and share your thoughts by writing reviews after you read them. Grow your personal library!
            </p>
            <a href="{% url 'books:about' %}" class="btn-footer">About</a>
            <a href="https://www.instagram.com/dheasalsabelaa/" target="_blank">
                <img src="{% static 'images/instagram-logo.png' %}" alt="Instagram" class="sosmed-logo">
            </a>
            <a href="https://www.linkedin.com/in/dhea-salsabela-868991280/" target="_blank">
                <img src="{% static 'images/linkedin-logo.png' %}" alt="Linkedin" class="sosmed-logo">
            </a>
            <a href="https://github.com/dheasalsabela" target="_blank">
                <img src="{% static 'images/github-logo.png' %}" alt="Linkedin" class="sosmed-logo">
            </a>
        </div>
        <p>&copy; 2024 BookSphere. All rights reserved.</p>
    </footer>
    
{% endblock %}
