{% extends 'common/base.html' %}
{% load static %}

{% block title %}Book List{% endblock %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">


{% block content %}
    <header class="list-header">
        <h1>Books</h1>
    </header>
    
    <section class="list-section">
        <div class="list-container">
            {% for book in books %}
                <div class="card">
                    <img src="{{ book.image }}" class="card-img-top" alt="{{ book.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ book.title }}</h5>
                        <p class="card-text">{{ book.author }}</p>
                        <a href="{% url 'books:book_detail' pk=book.pk %}" class="btn btn-list">View Details</a>
                    </div>
                </div>
            {% empty %}
                <p>No books available yet.</p>
            {% endfor %}
        </div>
    </section>
{% endblock %}
